﻿@model EnjoyDigitalUniversity.ViewModels.CoursesViewModel

<div class="row clearfix">
    <div class="col-md-12 column">
        <div>
          <h1>CourseViewModels</h1>
          
          <div>
            <h2>Computer Science</h2>
            
            <a href="/courses/english-course-1/">View course</a>
          </div>                    
        </div>
    </div>
</div>